<!DOCTYPE html>
<html lang="en">

<head>

<style>
h1{color: aquamarine;}
form{color:blue}
.q{color: red;position: sticky;}
</style>  

</head>

<div>
<body>
asghar 
<hr>
ali kazem <br>
ertyu<br>
<hr>
<a href="https://en.wikipedia.org/wiki/Tree"> ali</a>

<h1>    farzan </h1>          
<h2 class="q"> KKKKKPPPPP </h2>
<p> i go to the gym </p>

<p dir="rtl"> <q> سلام دوست ندارم  </q> </p>
<a href="https://www.google.com" target="self"> <img src="c:\Users\Asus\AppData\Local\Temp\Untitled.png">  </a>
<img src="d.webp">
</div>


<form action="https://www.rt.com/">   
<label> kind </label>
<input placeholder="family">  <br>    

<input> <br>

<input type="date">

<input type="submit">

<select> <br>
          <option> country </option>  <br>
          <option> animal </option>  <br>
</select>

</form>

</body>

</html>